@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background: #343541;
}

#app {
	width: 100vw;
	height: 100vh;
	background: #343541;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M0 0L531.14 0L0 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M0 560L531.14 560L0 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 560L908.86 560L1440 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 0L908.86 0L1440 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1007'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#chat_container {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	gap: 10px;

	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-bottom: 20px;
	scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
	display: none;
}

.wrapper {
	width: 100%;
	padding: 15px;
}
.user {
	background: rgba(52, 53, 65, 0.39);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.1px);
	-webkit-backdrop-filter: blur(2.1px);
	border: 1px solid rgba(52, 53, 65, 0.86);
}
.ai {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1017)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)'%3e%3cpath d='M112.5 287.5L137.5 287.5L162.5 287.5M87.5 287.5L112.5 262.5L137.5 262.5M62.5 287.5L87.5 262.5M387.5 287.5L412.5 262.5L437.5 262.5L462.5 262.5M412.5 287.5L437.5 312.5M-12.5 287.5L12.5 287.5L37.5 287.5L62.5 287.5L87.5 287.5L112.5 287.5L137.5 312.5L162.5 312.5L187.5 312.5L212.5 287.5L237.5 287.5L262.5 287.5L287.5 287.5L312.5 287.5L337.5 287.5L362.5 287.5L387.5 287.5L412.5 287.5L437.5 287.5L462.5 287.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M456.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M262.5 262.5L287.5 237.5L312.5 212.5L337.5 212.5M237.5 262.5L262.5 237.5L287.5 212.5L312.5 187.5M212.5 262.5L237.5 237.5M-12.5 262.5L12.5 262.5L37.5 237.5L62.5 237.5L87.5 237.5L112.5 237.5L137.5 237.5L162.5 262.5L187.5 262.5L212.5 262.5L237.5 262.5L262.5 262.5L287.5 262.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M281.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M137.5 337.5L162.5 337.5L187.5 337.5L212.5 337.5L237.5 337.5L262.5 312.5M337.5 362.5L362.5 337.5L387.5 337.5L412.5 337.5L437.5 337.5M387.5 362.5L412.5 362.5L437.5 362.5L462.5 362.5L487.5 362.5M312.5 362.5L337.5 337.5M262.5 362.5L287.5 337.5L312.5 337.5L337.5 312.5M-12.5 312.5L12.5 312.5L37.5 312.5L62.5 312.5L87.5 312.5L112.5 312.5L137.5 337.5L162.5 362.5L187.5 362.5L212.5 362.5L237.5 362.5L262.5 362.5L287.5 362.5L312.5 362.5L337.5 362.5L362.5 362.5L387.5 362.5L412.5 387.5L437.5 387.5L462.5 387.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M456.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M187.5 212.5L212.5 237.5M162.5 212.5L187.5 237.5M-12.5 237.5L12.5 237.5L37.5 212.5L62.5 212.5L87.5 212.5L112.5 212.5L137.5 212.5L162.5 212.5L187.5 212.5L212.5 212.5L237.5 212.5' stroke='%23dd1133' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M231.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%23dd1133'%3e%3c/path%3e%3cpath d='M87.5 337.5L112.5 362.5L137.5 387.5M-12.5 337.5L12.5 337.5L37.5 337.5L62.5 337.5L87.5 337.5L112.5 337.5L137.5 362.5L162.5 387.5L187.5 387.5L212.5 387.5L237.5 387.5L262.5 387.5L287.5 387.5L312.5 387.5L337.5 387.5L362.5 387.5L387.5 387.5L412.5 412.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M406.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M112.5 187.5L137.5 162.5M-12.5 212.5L12.5 212.5L37.5 187.5L62.5 187.5L87.5 187.5L112.5 187.5L137.5 187.5L162.5 187.5L187.5 187.5L212.5 187.5L237.5 187.5' stroke='%23dd1133' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M231.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%23dd1133'%3e%3c/path%3e%3cpath d='M62.5 362.5L87.5 362.5M-12.5 362.5L12.5 362.5L37.5 362.5L62.5 362.5L87.5 387.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M81.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M-12.5 187.5L12.5 187.5L37.5 162.5L62.5 162.5L87.5 162.5' stroke='%233a7cc3' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M81.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%233a7cc3'%3e%3c/path%3e%3cpath d='M462.5 437.5L487.5 462.5L512.5 487.5L537.5 487.5M362.5 412.5L387.5 437.5L412.5 462.5L437.5 462.5L462.5 462.5M212.5 412.5L237.5 437.5L262.5 437.5L287.5 437.5M187.5 412.5L212.5 437.5L237.5 462.5L262.5 462.5M512.5 462.5L537.5 437.5L562.5 437.5L587.5 437.5L612.5 437.5L637.5 437.5M87.5 412.5L112.5 437.5L137.5 437.5M-12.5 387.5L12.5 387.5L37.5 387.5L62.5 387.5L87.5 412.5L112.5 412.5L137.5 412.5L162.5 412.5L187.5 412.5L212.5 412.5L237.5 412.5L262.5 412.5L287.5 412.5L312.5 412.5L337.5 412.5L362.5 412.5L387.5 412.5L412.5 437.5L437.5 437.5L462.5 437.5L487.5 437.5L512.5 462.5L537.5 462.5L562.5 462.5' stroke='%23dd1133' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M556.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM631.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%23dd1133'%3e%3c/path%3e%3cpath d='M387.5 162.5L412.5 187.5L437.5 187.5M237.5 162.5L262.5 137.5L287.5 137.5L312.5 137.5L337.5 137.5M137.5 137.5L162.5 137.5L187.5 137.5L212.5 137.5L237.5 137.5L262.5 112.5M412.5 162.5L437.5 137.5L462.5 137.5L487.5 137.5M37.5 137.5L62.5 112.5M-12.5 162.5L12.5 162.5L37.5 137.5L62.5 137.5L87.5 137.5L112.5 137.5L137.5 137.5L162.5 162.5L187.5 162.5L212.5 162.5L237.5 162.5L262.5 162.5L287.5 162.5L312.5 162.5L337.5 162.5L362.5 162.5L387.5 162.5L412.5 162.5L437.5 162.5L462.5 162.5' stroke='%23dd1133' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M456.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='%23dd1133'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1017'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M459.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M459.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M409.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M559.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM634.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M459.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.chat {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
}

.profile {
	width: 36px;
	height: 36px;
	border-radius: 5px;

	background: #5436da;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ai .profile {
	background: #10a37f;
}

.profile img {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

.message {
	flex: 1;

	color: #dcdcdc;
	font-size: 20px;

	max-width: 100%;
	overflow-x: scroll;

	/*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
	white-space: pre-wrap;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
	display: none;
}

form {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	display: flex;
	flex-direction: row;
	gap: 10px;
}

textarea {
	width: 100%;
	border: none;
	color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10px;
	background: transparent;
}

button {
	outline: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
}

form img {
	width: 30px;
	height: 30px;
}
