@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background: #343541;
}

#app {
	width: 100vw;
	height: 100vh;
	background: #343541;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M0 0L531.14 0L0 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M0 560L531.14 560L0 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 560L908.86 560L1440 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 0L908.86 0L1440 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1007'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#chat_container {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	gap: 10px;

	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-bottom: 20px;
	scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
	display: none;
}

.wrapper {
	width: 100%;
	padding: 15px;
}
.user {
	background: rgba(52, 53, 65, 0.39);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.1px);
	-webkit-backdrop-filter: blur(2.1px);
	border: 1px solid rgba(52, 53, 65, 0.86);
}
.ai {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/rect%3e%3cpath d='M26 250L276 0L469.5 0L219.5 250z' fill='url(%23SvgjsLinearGradient1012)'%3e%3c/path%3e%3cpath d='M281.6 250L531.6 0L599.1 0L349.1 250z' fill='url(%23SvgjsLinearGradient1012)'%3e%3c/path%3e%3cpath d='M485.20000000000005 250L735.2 0L843.2 0L593.2 250z' fill='url(%23SvgjsLinearGradient1012)'%3e%3c/path%3e%3cpath d='M725.8000000000001 250L975.8000000000001 0L1067.3000000000002 0L817.3000000000001 250z' fill='url(%23SvgjsLinearGradient1012)'%3e%3c/path%3e%3cpath d='M1396 250L1146 0L799.5 0L1049.5 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M1188.4 250L938.4000000000001 0L711.9000000000001 0L961.9000000000001 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M916.8 250L666.8 0L383.29999999999995 0L633.3 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M684.1999999999999 250L434.19999999999993 0L363.69999999999993 0L613.6999999999999 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M1244.3902601345178 250L1440 54.390260134517774L1440 250z' fill='url(%23SvgjsLinearGradient1012)'%3e%3c/path%3e%3cpath d='M0 250L195.60973986548223 250L 0 54.390260134517774z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='20.66%25' y1='-119%25' x2='79.34%25' y2='219%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1011'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1012'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.chat {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
}

.profile {
	width: 36px;
	height: 36px;
	border-radius: 5px;

	background: #5436da;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ai .profile {
	background: #10a37f;
}

.profile img {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

.message {
	flex: 1;

	color: #dcdcdc;
	font-size: 20px;
	line-height: 1.5;
	padding: 10px;
	width: 100vw;
	overflow-x: scroll;

	/*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
	white-space: pre-wrap;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
	display: none;
}

form {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	display: flex;
	flex-direction: row;
	gap: 10px;
}

textarea {
	width: 100%;
	border: none;
	color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10px;
	background: transparent;
}

button {
	outline: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
}

form img {
	width: 30px;
	height: 30px;
}
