@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background: #343541;
}

#app {
	width: 100vw;
	height: 100vh;
	background: #343541;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M0 0L531.14 0L0 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M0 560L531.14 560L0 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 560L908.86 560L1440 -223.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3cpath d='M1440 0L908.86 0L1440 783.24z' filter='url(%23SvgjsFilter1007)' fill='%232d409e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1007'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#chat_container {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	gap: 10px;

	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-bottom: 20px;
	scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
	display: none;
}

.wrapper {
	width: 100%;
	padding: 15px;
}

.ai {
	background: #545672;
}

.chat {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
}

.profile {
	width: 36px;
	height: 36px;
	border-radius: 5px;

	background: #5436da;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ai .profile {
	background: #10a37f;
}

.profile img {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

.message {
	flex: 1;

	color: #dcdcdc;
	font-size: 20px;

	max-width: 100%;
	overflow-x: scroll;

	/*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
	white-space: pre-wrap;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
	display: none;
}

form {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

	display: flex;
	flex-direction: row;
	gap: 10px;
}

textarea {
	width: 100%;
	border: none;
	color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10px;
	background: transparent;
}

button {
	outline: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
}

form img {
	width: 30px;
	height: 30px;
}
